version: '3.9'

services:
  sonarqube:
    image: 'sonarqube:lts'
    ports:
      - '9000:9000'
    environment:
      - SONAR_FORCEAUTHENTICATION=false

  mongo-crypto-db:
    image: 'mongo:latest'
    container_name: 'mongo-crypto-db'
    ports:
      - '27017:27017'
    volumes:
      - crypto-db-volume:/data/db

  mongo-seed:
    image: 'mongo-seed'
    container_name: 'mongo-seed'
    depends_on:
      - mongo-crypto-db

  crypto-balance-tracker-login:
    image: 'crypto-balance-tracker-login:latest'
    container_name: 'crypto-balance-tracker-login'
    depends_on:
      - mongo-crypto-db
    environment:
      - MONGODB_DATABASE=${MONGODB_DATABASE}
      - JWT_SIGNING_KEY=${JWT_SIGNING_KEY}
    ports:
      - '8081:8081'

  crypto-balance-tracker:
    image: 'crypto-balance-tracker:latest'
    container_name: 'crypto-balance-tracker'
    depends_on:
      - mongo-crypto-db
      - crypto-balance-tracker-login
    environment:
      - MONGODB_DATABASE=${MONGODB_DATABASE}
      - JWT_SIGNING_KEY=${JWT_SIGNING_KEY}
      - COINGEKO_API_KEY=${COINGEKO_API_KEY}
    ports:
      - '8080:8080'

volumes:
  crypto-db-volume: