spring:
  data:
    mongodb:
      uri: mongodb://${MONGODB_USERNAME}:${MONGODB_PASSWORD}@localhost:27017
      database: ${MONGODB_DATABASE}

coingecko:
  url: "https://api.coingecko.com/api/v3"
  pro:
    url: "https://pro-api.coingecko.com/api/v3"
    api-key: ${COINGEKO_API_KEY}

springdoc:
  swagger-ui:
    defaultModelsExpandDepth: -1

jwt:
  signing-key: ${JWT_SIGNING_KEY}

server:
  port: 0